body{
    background-color: #1c232f;
}
.container{
    display: inline-block;
    float: left;
    width: 1000px;
    margin: 0 calc(50% - 500px);


}
    .header{
        margin-top: 30px;

    }
        .logo{
            display: inline-block;
            float: left;
            height: 40px;
        }
        .nav{
            display: inline-block;
            float: right;
            padding-top: 10px;
        }
            .nav > a{
                color: #fff;
                text-decoration: none;
                line-height: 20px;
                font-size: 16px;
                padding: 5px;
            }
    .main{
       display: inline-block;
        text-align: center;
    }
    .first{
        display: inline-block;
        width:1000px;
    }
        .photo{
            width:70%;
        }
        .title{
            width: 85%;
            margin: auto;
            margin-top: 30px;
            color: #fff;
            font-size: 40px;
            padding-bottom: 40px;
        }
        .par{
            width: 65%;
            margin: auto;
            color: #fff;
            font-size: 24px;
        }
        .btn{
            margin-top: 30px;
            background-color: #5baece;
            width: 200px;
            margin-left: calc(50% - 100px);
            padding: 10px 0;
            border-radius: 20px;
            margin-bottom: 100px;
        }
            .btn > a{
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                line-height: 20px;
            }

    .row{
        display: inline-block;
        width:1000px;
        margin: 0 calc(50% - 500px);
    }
        .el{
            display: inline-block;
            width: 40%;
            margin:0  20px;
        }
           .row .img{
                height: 60px;
                text-align: center;
                margin-bottom: 20px;
                
            }
            .row .title1{
                width: 90%;
                color: #fff;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 5px;
            }
            .row .title2{

                width: 90%;
                color: #fff;
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 20px;
            }

        .last{
            display: inline-block;
            width:1000px;
            margin: 0 calc(50% - 500px);
            margin-top: 70px;

        }
            .img1{
                display: inline-block;
                float: left;
                width: 50%;

            }
            .par2{
                display: inline-block;
                float: left;
                padding-top: 100px;
                padding-left: 40px;
                width: 50%;
                color: #fff;
            }
            .par2 > h2{
            }
    